{% extends "layout.html" %}
{% block body %}

    <div id="signature-pad" class="signature-pad">
        <div id="name-text"></div>
        <div id="datetime">{{ now }}</div>
        <div class="signature-pad--body">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description">Sign above</div>
                 <div class="signature-pad--actions">
                    <button type="button" class="button-clear" data-action="clear">Clear</button>
                    <div class="signature-submit">
                    <button type="button" class="button-submit" data-action="submit">Submit</button>
                    </div>
            </div>
    </div>
    <script src="{{ url_for('static',filename='signature_pad.min.js')}}"></script>
    <script>
    var wrapper = document.getElementById("signature-pad");
    var clearButton = wrapper.querySelector("[data-action=clear]");
    var submitButton = wrapper.querySelector("[data-action=submit]");
    var canvas = wrapper.querySelector("canvas");
    var signaturePad = new SignaturePad(canvas);
    function resizeCanvas(){
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetWidth * ratio * 0.25;
        canvas.getContext("2d").scale(ratio,ratio);
        signaturePad.clear();
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

     window.onresize = resizeCanvas;
     resizeCanvas();

     clearButton.addEventListener("click",function (event) {
        signaturePad.clear();
     });

     var name = window.prompt("Please enter your name:","");
     if (name && name != "null"){
        document.getElementById("name-text").innerHTML = name.replace(/[^A-Za-z_ ]/g,'');
     }
     else
     {
         window.location.href = '{{ url_for("show_waiver") }}';
     }

     submitButton.addEventListener("click",function (event) {
             post('{{ url_for("commit_waiver") }}',{signature:signaturePad.toDataURL(),username:document.getElementById("name-text").innerHTML,now:document.getElementById("datetime").innerHTML});
     });


    </script>
{% endblock %}
